@{
    ViewBag.Title = "Lab 1: ASP.NET MVC and CRUD";
    ViewBag.Message = "About this lab";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Hi! I am Jordan. This is my ASP.NET MVC application for Lab 1. The purpose of this lab was to get me familiar with the layout of ASP.NET MVC web applications: where controllers and views are, and how to talk to a database to Create, Read, Update and Delete stuff.