@{
    ViewBag.Title = "Contact";
    ViewBag.Message= "This is my contact info:";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br/>
<p>Jordan Ross 10533547@uvlink.uvu.edu</p>
<br/>
<br/>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>